name: Rust Build & SonarQube Analysis

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Cinstrument-coverage"
  LLVM_PROFILE_FILE: "target/coverage/%m.profraw"

jobs:

  build:
    name: Rust Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y lcov jq
          rustup component add llvm-tools-preview
          cargo install grcov

      - name: Build Rust Project
        run: |
          for i in {1..5}; do
            cargo build && break
            sleep 10
          done

      - name: Run Rust Tests with Coverage
        run: |
          mkdir -p target/coverage
          cargo test --verbose --no-fail-fast

      - name: Generate Coverage Report
        run: |
          grcov target/coverage \
          --binary-path target/debug \
          -s . \
          --branch \
          -o target/coverage \
          --ignore "/*" \
          --ignore-not-existing \
          --keep-only 'src/*' \
          --output-types html,cobertura,lcov        
      - name: list files in coverage folder
        run: |
          ls -l target/coverage
          ls -l target/coverage/lcov
          ls -l target/coverage/html
      - name: Upload Coverage as Artifact
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage
          path: |
            target/coverage/cobertura.xml
            target/coverage/lcov
            target/coverage/html
          compression-level: 6
          retention-days: 7

  clippy:
    name: Clippy Analysis
    env:
      RUSTFLAGS: "-Dwarnings"
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features

  sonarqube:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Download Coverage Report
        uses: actions/download-artifact@v7
        with:
          name: code-coverage
          path: .
      - name: Inspect Coverage Report
        run: | 
          ls -la
          cat cobertura.xml
          cat lcov
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_SCANNER_OPTS: "-Dsonar.rust.lcov.reportPaths=lcov"
